header {
background-color: aquamarine;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.navbar {
  display: flex;
  
}

body {
background-color: rgb(195, 255, 255);
display: flex;
flex-direction: column;
}
.container1 {
  background-color: rgb(216, 216, 216);
  color: rgb(0, 0, 0);
}

.container2 {
  background-color: rgb(203, 248, 197);
}
.guilink {
  background-color: rgb(241, 226, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
  }
p {
  margin: 0%;
  border: 0%;
}

footer {
  background-color: rgb(231, 205, 255);
}

pre {
  background-color: #444;
  color: #fff;
  padding: 1%;
  max-width: auto;
  font-family: monospace;
}
/* code {
  padding: 0%;
  margin: 0%;
  border: 0%;
  background-color: black;
} */

.console {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-family: monospace;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.console-header {
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.console-title {
  margin: 0;
}

.console-body {
  display: flex;
  flex-direction: column;
}

.console-output {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
}

.console-input {
  border: none;
  outline: none;
  padding: 5px;
  font-family: monospace;
  font-size: 14px;
  margin: 5px 0;
  background-color: transparent;
  border-top: 1px solid #ccc;
}
