.container{
    display: flex;
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    margin-top: 100px;
    line-height: 200px;
    font-size: 72px;
    vertical-align: middle;
    font-family: sans-serif;
    font-style: normal;
    height: 200px;
    background-color: #e2e2e2;
    flex: 1;
    transition: .3s all ease;
}

.card:hover{
    flex: 2;
    background-color: rgb(207, 207, 207);
}