.container{
    display: flex;
}

.card{
    border-radius: 25px;
    margin-left: 10px;
    margin-top: 100px;
    line-height: 200px;
    font-size: 72px;
    vertical-align: middle;
    font-family: sans-serif;
    font-style: normal;
    height: 200px;
    background-color: #ff8585;
    flex: 1;
    transition: .3s all ease;
}

.card:hover{
    flex: 2;
    background-color: rgb(255, 183, 100);
}